@font-face {
  font-family: 'Glyphicons Social Regular';
  src: url('../fonts/glyphicons-social-regular.eot');
  src: url('../fonts/glyphicons-social-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-social-regular.woff') format('woff'), url('../fonts/glyphicons-social-regular.ttf') format('truetype'), url('../fonts/glyphicons-social-regular.svg#glyphicons_socialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  color: #64645d;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.social:before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  font: 24px/1em 'Glyphicons Social Regular';
  font-style: normal;
  font-weight: normal;
  color: #64645d;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.social.github:before {
  content: "\E022";
}

.social-icon.github {
  background-position: -48px -96px;
}

.copyright {
  margin-right: 495px;
}

.btn {
  min-width: 40px;
}

.btn-ctrl {
  margin-right: 8px;
}

 .container {
    width: 600px;
  }

.button-holder {
  margin-top: 20px;
  width: 350px;
  float: left;
}

.button-holder-right {
  margin-top: 20px;
  width: 350px;
  float: right;
}

.main {
  width: 750px;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  width: 740px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.buttons-playback {
  margin-top: 500px;
  width: 740px;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}
/* Responsive: Portrait tablets and up */

.tempo {
  margin-left: 10px;
}

.tempo-label {
  margin-left: 32px;
}

.volume {
  margin-left: 10px;
}

.volume-label {
  margin-left: 31px;
}